[submodule "frontend/lib/react-dropdown"]
	path = frontend/lib/react-dropdown
	url = https://github.com/OctavianTocan/react-dropdown.git
[submodule "frontend/lib/react-overlay"]
	path = frontend/lib/react-overlay
	url = https://github.com/OctavianTocan/react-overlay.git
